<div class="card">
  <div class="card-header">
    How to Build a Conda Environment for this Application
  </div>
  <div class="card-body">
	  <strong>NOTICE:</strong> Although <span class='bg-light text-black'> conda/202311 </span> is used in this example, you can use any Conda version on the cluster, or ever a version of Conda installed in your home directory!
  </div>
  <div class="card-body">
  </br>
  Please execute the following commands from a compute node:
  <ul>
    <li><span class='bg-light text-black'> module load conda/202311 </span></li>
    <li><span class='bg-light text-black'> conda create -n my_env python=3.8 </span></li>
    <li><span class='bg-light text-black'> source activate my_env </span></li>
    <li><span class='bg-light text-black'> pip install jupyterlab notebook ipykernel </span></li>
    <li><span class='bg-light text-black'> python -m ipykernel install --user --name=my_env </span></li>
  </ul>
  When you launch Jupyter, you can select the kernel you created from kernel selector in the top-right of the notebook.</br>

  Please follow this <a href="https://wiki.stjude.org/display/RC/Instructions+on+Creating+ipykernels+for+your+Conda+Envs">wiki page</a> if you face trouble with ipykernel.

  Contact <a href="mailto:hprc@stjude.edu">HPRC</a>  if you continue to have issues.
  </div>
</div>
